@using Proyecto1_IPC2.Models.ViewModels
@{
    ViewBag.Title = "Menu";
    ViewBag.Style = "~/css/principal.css";
    ViewBag.Bootstrap = true;
}

<header id="encabezado">
    <img id="othelloLogo" src="~/img/Logo Othello-mini.jpg" />
    <div class="tabla">
        <p id="usuario">@TempData["user"]</p>
    </div>
    <div class="separador">

    </div>
</header>
<br />
<article id="articulo">
    <div class="botones1">
        <button class="opcion" id="Un jugador" onclick=""><i class="fas fa-gamepad fa-lg"></i>Un jugador</button>

        <button class="opcion" id="Multijugador" onclick=""><i class="fas fa-wifi fa-lg"></i> Multijugador</button>

        <button class="opcion" id="Un jugador" onclick=""><i class="fas fa-trophy fa-lg"></i> Torneos</button>
    </div>
    <div class="botones2">
        <button class="opcion" id="Reportes" onclick=""><i class="fas fa-chart-bar fa-lg"></i> Reportes</button>

        <button class="opcion" id="Reportes" data-target="#uploadModal" data-toggle="modal"><i class="fas fa-cloud-upload-alt"></i> Cargar Partida</button>
    </div>
</article>
<div class="container">
    <div class="modal" id="uploadModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">X</button>
                    <h2>Subir Partida XML</h2>
                </div>
                @using (Html.BeginForm("UploadFile", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">



                        <div>
                            <p class="alert">@Html.TextBox("file", "", new { type = "file" })</p> <br />

                            

                            @ViewBag.Message


                        </div>


                       
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success btn-lg" type="submit" value="Upload" />
                        <button class="btn btn-danger btn-lg" data-dismiss="modal">Cancelar</button>
                    </div>
                }
                </div>
        </div>
    </div>
</div>