@model Proyecto1_IPC2.Models.ViewModels.Torneo
@{
    ViewBag.Title = "Definir Equipos";
    ViewBag.Style = "~/css/torneo.css";
    ViewBag.Bootstrap = true;
}
<header id="encabezado">
    <img id="othelloLogo" src="~/img/Logo Othello-mini.jpg" />
    <div class="tabla">
        <p id="usuario">@Model.Nombre</p>
    </div>
    <div class="separador">

    </div>
</header>
