* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Comic Sans MS";
}

body {
    background-color: #B6D7A8;
}

.encabezado{
    margin-top: 20px;
}

.separador{
    height: 10px;
    background-color: transparent;
    width: 500px;
}

.logo {
    margin-left:15px;
    background-image: url('../img/Logo Othello.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    width: 500px;
    height: 158px;
}

.tabla {
    background-image: url('../img/tabla.jpg');
    background-size: contain;
    width: 500px;
    height: 74px;
}

.tabla-lg {
    background-image: url('../img/tabla.jpg');
    background-size: contain;
    width: 500px;
    height: 158px;
}

.usuarios {
    line-height: 74px;
    position: relative;
    padding-left: 25px;
    float: left;
    font-family: 'Comic Sans MS';
    font-size: 50px;
    color: #ffffff;
    background: none;
}

.boton-turno{
    font-size:50px;
    margin-left: 25px;
    background: transparent;
    border: none;
    color: #ffffff;
}

.boton-color{
    position:center;
    border:none;
    background-color: transparent;
    height:70px;
    width:70px;
}

.turno {
    color: #ffea00;
}

.input {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 54px;
    position: relative;
    padding-left: 25px;
    float: left;
    width: 350px;
    font-family: 'Comic Sans MS';
    font-size: 40px;
    color: #000000;
    background: #ffffff;
}

.nameOk {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: #9FC5F8;
    border-color: #000000;
    border-width: 3px;
    line-height: 54px;
    width: 64px;
    cursor: pointer;
}

.usuario {
    line-height: 158px;
    position: relative;
    padding-left: 25px;
    float: left;
    font-family: 'Comic Sans MS';
    font-size: 60px;
    color: #ffffff;
    background: none;
}

.opcion {
    margin-top: 20px;
    font-size: 20px;
    background-color: #9FC5F8;
    border-color: #000000;
    border-width: 5px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
}

.opcion:hover {
    background-color: #2f43d6;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
}

.nameOk:hover {
    background-color: #2f43d6;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
}

.empezar {
    margin-top: 20px;
    font-size: 20px;
    background-color: #24a61f;
    border-color: #000000;
    border-width: 5px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
}

.empezar:hover {
    background-color: #ffffff;
    color: #24a61f;
    border-color: #24a61f;
    border-style: solid;
}

.salir {
    margin-top: 20px;
    font-size: 40px;
    background-color: #d92414;
    border-color: #000000;
    border-width: 5px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
}

.salir:hover {
    background-color: #ffffff;
    color: #d92414;
    border-color: #d92414;
    border-style: solid;
}

.tablero {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-image: url('../img/othello-board.png');
    background-size: contain;
}

.casilla {
    background-color: Transparent;
    float: left;
    width: 50px;
    height: 50px;
}

.player-negro {
    margin-top:5px;
    margin-bottom:5px;
    background-image: url('../img/Coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
}

.player1-negro {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../img/Coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 138px;
}

.player1-blanco {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../img/coin_wh.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 138px;
}

.player-blanco {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../img/coin_wh.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
}

.negro {
    background-image: url('../img/Coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
}

.blanco {
    background-image: url('../img/coin_wh.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
}

.botones{
    margin-top: 80px;
    margin-left: -50px;
}

.casilla:focus, .blanco:focus, .negro:focus {
    outline: none;
    box-shadow: none;
}

.activo:hover{
    background-color: #000000;
    opacity: 0.3;
}

.activo{
    background-color: #ffffff;
    opacity: 0.4;
}

.fila {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    height: 50px;
}

#primero {
    padding-top: 50px;
}


