* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Comic Sans MS";
}

body {
    background-color: #B6D7A8;
}

#encabezado {
    position: relative;
    margin: auto;
    height: 158px;
    width: auto;
    text-align: center;
    padding-top: 20px;
}

#othelloLogo {
    float: left;
    padding-left: 135px;
    padding-right: 50px;
    height: 158px;
    width: 750px;
}

.tabla {
    float: left;
    position: relative;
    background-image: url('../img/tabla.jpg');
    width: 600px;
    height: 158px;
}

#usuario {
    line-height: 158px;
    position: relative;
    padding-left: 25px;
    float: left;
    font-family: 'Comic Sans MS';
    font-size: 60px;
    color: #ffffff;
    background: none;
}

.opcion {
    font-size: 25px;
    background-color: #9FC5F8;
    border-color: #000000;
    border-width: 5px;
    margin-top: 80px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
    margin-left: 50px;
}

.opcion:hover {
    background-color: #2f43d6;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
}

.separador {
    float: none;
}

.tablero {
    float: left;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-image: url('../img/othello-board.png');
    background-size: contain;
}

.casilla {
    background-color: Transparent;
    float: left;
    width: 50px;
    height: 50px;
}

.negro {
    background-image: url('../img/Coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
}

.blanco {
    background-image: url('../img/coin_wh.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
}

.casilla:focus, .blanco:focus, .negro:focus {
    outline: none;
    box-shadow: none;
}

.activo:hover{
    background-color: #000000;
    opacity: 0.3;
}

.activo{
    background-color: #ffffff;
    opacity: 0.4;
}

.fila {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    height: 50px;
}

#primero {
    padding-top: 50px;
}
