* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Comic Sans MS";
}

body {
    background-color: #B6D7A8;
}

#encabezado {
    position: relative;
    margin: auto;
    height: 158px;
    width: auto;
    text-align: center;
    padding-top: 20px;
}

#othelloLogo{
    float: left;
    padding-left: 135px;
    padding-right: 50px;
    height: 158px;
    width: 750px;
}

.tabla {
    float: left;
    position: relative;
    background-image: url('../img/tabla.jpg');
    width: 600px;
    height: 158px;
}

#usuario {
    line-height: 158px;
    position: relative;
    padding-left: 25px;
    float: left;
    font-family: 'Comic Sans MS';
    font-size: 60px;
    color: #ffffff;
    background: none;
}

.opcion {
    font-size: 30px;
    background-color: #9FC5F8;
    border-color: #000000;
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    height: 150px;
    cursor: pointer;
    margin-left: 50px;
}

.opcion:hover {
    background-color: #2f43d6;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
}

.separador{
    float: none;
}

.botones1{
    padding-top: 50px;
    padding-left: 120px;
    float: none;
}

.botones2 {
    padding-top: 50px;
    padding-left: 330px;
    float: none;
}